
$color-very-lv = #32b1b2

// 颜色定义规范
$color-text = #60626b
$color-background = #d7efee

// header颜色
$color-background-header = #424a50
// header 字体颜色
$color-font-header-logo = #fff
$color-font-user = #fff
// 左侧导航栏
$color-background-aside = #424a50
$color-aside-is-active = #fff
$color-background-aside-focus = #32b1b2
$color-background-aside-menu = #d7efee
// 导航展开背景
$color-background-aside-menu-expand = #ececec

// 中间路由导航
$color-background-route-nav-bar = $color-very-lv

// 搜索栏背景
$color-background-search-bar = #ececec
// 表单颜色

// table

$color-background-table-header = $color-very-lv
$color-text-table-header = #fff

$color-table-border = $color-very-lv

$color-background-table = #d7efee
$color-background-table-hover = #32b1b2
$color-font-table-hover = #fff




$color-background1 = #172f39
$color-background2 = #4b6a77
$color-background3 = #6d8b9b
$color-background4 = #8ca5ad
$color-background5 = #a3bcc5
$color-background6 = #c4d8df



//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px



// 颜色定义规范

$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
